.q-certif {
    display: flex;
    justify-content: space-between;

    li {
        padding: 0 16px;

        img {
            margin-bottom: 24px;
            transition: transform ease-in-out 0.3s;
        }

        img:hover {
            transform: scale(1.2);
        }

        p {
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 750px) {
    .q-certif {
        display: block;
        text-align: center;
    }
}