.q-certif {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    li {
        padding: 0 16px;

        img {
            margin-bottom: 24px;
            transition: transform ease-in-out 0.3s;
        }

        img:hover {
            transform: scale(1.3);
        }

        p {
            margin-bottom: 16px;
        }
    }
}