.q-first {
    padding: 2rem 6rem;

    h2 {
        font-size: 40px;
        line-height: 110%;
        margin-bottom: 32px;
        text-align: center;
    }

    h3 {
        font-size: 36px;
        line-height: 110%;
        margin-bottom: 32px;
    }

    h4 {
        font-size: 26px;
        line-height: 110%;
        margin-bottom: 32px;
    }

    h5 {
        font-size: 18px;
        font-style: italic;
        line-height: 110%;
    }

    p {
        font-size: 20px;
        line-height: 125%;
        text-align: center;
    }
}

.q-first__illus {
    display: flex;
    justify-content: space-between;

    div {
        max-width: 700px;
    }

    img {
        max-width: 700px;
        margin-bottom: 32px;
    }
}

.q-first__btn {
    background: $green;
    color: $light;
    border-radius: 30px;
    width: 160px;
    height: 48px;
    margin: auto;

    margin-top: 16px;

    &:hover {
        background: darken($green, 15);
    }
}

@media (max-width: 750px) {
    .q-first {
        padding: 2rem 4rem;

        h2 {
            font-size: 36px;
        }

        h3 {
            font-size: 26px;
        }

        h4 {
            font-size: 22px;
        }

        h5 {
            font-size: 14px;
        }

        p {
            font-size: 16px;
        }
    }

    .q-first__illus {
        display: block;

        img {
            margin-bottom: 20px;
        }
    }
}