.q-first {
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 20px;

    h2 {
        font-size: 40px;
        line-height: 110%;
        margin-bottom: 32px;
    }

    h3 {
        font-size: 36px;
        line-height: 110%;
        margin-bottom: 32px;
    }

    h4 {
        font-size: 26px;
        line-height: 110%;
        margin-bottom: 32px;
    }

    h5 {
        font-size: 18px;
        font-style: italic;
        line-height: 110%;
    }

    p {
        font-size: 20px;
        line-height: 125%;
    }
}

.q-first__illus {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    img {
        max-width: 650px;
    }
}