.q-second {
    background: linear-gradient(to right bottom, #1b262c, #1a2d39, #173546, #143c54, #114362, #134a6d, #165279, #195985, #206391, #266d9e, #2c77ab, #3282b8);
    color: $light;
    padding: 2rem 6rem;

    h2 {
        font-size: 40px;
        line-height: 110%;
        margin-bottom: 32px;
        text-align: center;
    }

    h3 {
        font-size: 30px;
        line-height: 110%;
    }

    h4 {
        font-size: 26px;
        line-height: 110%;
        margin-bottom: 32px;
    }

    h5 {
        font-size: 18px;
        font-style: italic;
        line-height: 110%;
        text-align: center;
    }

    p {
        font-size: 20px;
        line-height: 125%;
    }

    img {
        margin-bottom: 16px;
    }
}

@media (max-width: 750px) {
    .q-second {
        padding: 2rem 4rem;

        h2 {
            font-size: 36px;
        }

        h3 {
            font-size: 26px;
        }

        h4,
        h5 {
            font-size: 14px;
        }

        p {
            font-size: 16px;
        }
    }
}