.q-stages {
    padding: 0 6rem;

    h3,
    h4,
    h5 {
        text-align: center;
    }
}

.q-stages__logo {
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;

    &.visible {
        animation: StagesSlideIn 0.3s ease-in forwards;
    }

    img {
        width: 150px;
    }
}

.q-stages__content {
    justify-content: center;
    display: flex;

    h4,
    p {
        text-align: left;
    }
}

.q-stages__anim {
    max-width: 600px;
    margin: 0 6rem;
    display: flex;
    flex-direction: column;
    flex: 1;

    h4,
    p {
        opacity: 0;

        &.visible {
            animation: StagesSlideIn 0.3s ease-in forwards;
        }
    }
}

@media (max-width: 750px) {
    .q-stages__content {
        display: block;
        text-align: center;
        margin-bottom: 0;

        .q-stages__anim {
            margin: auto;
        }
    }

    .q-stages__logo {
        justify-content: space-around;
        padding-bottom: 16px;

        img {
            max-width: 90%;
            width: 95px;
        }
    }
}

@keyframes StagesSlideIn {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}