.q-stages__logo {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 56px;
    opacity: 0;

    &.visible {
        animation: StagesSlideIn 0.3s ease-in forwards;
    }
    
    img {
        width: 150px;
    }
}

.q-stages__content {
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-bottom: 48px;
    text-align: left;
}

.q-stages__anim {
    max-width: 600px;
    h4, p {
        opacity: 0;

        &.visible {
            animation: StagesSlideIn 0.3s ease-in forwards;
        }
    }
}

@media (max-width: 750px) {
    .q-stages__content {
        display: block;
        text-align: center;
        margin-bottom: 0;

        .q-stages__anim {
            margin: auto;
        }
    }

    .q-stages__logo {
        justify-content: space-around;
        padding-bottom: 16px;

        img {
            max-width: 90%;
            width: 95px;
        }
    }
}

@keyframes StagesSlideIn {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}