.q-veille__illus {
    margin-bottom: 16px;
}

.q-veille__italic {
    text-align: center;
    font-style: italic;
    margin-bottom: 16px;
}

.q-veille__text {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 24px;
}